<h1>Links</h1>
<%= link_to "New Post", {
		:controller => "main",
		:action => "newpost"
	}%>

		<div class="container">
		<ul>
			<% Post.all.each do |p| %>
			<%= p.title %><br>
			<%= p.link %>
		</ul>

		</p>


	<% end %>
</div>

