<div class="page-header">
	<h1>Create a post</h1>
</div>

	<div class="container">
		
		<%= form_for :user do |f| %>
  		<%= f.text_field :title, placeholder: 'Title' %>
  		<%= f.text_field :link, placeholder: 'Link' %>

  		<%= f.submit 'Post' %>
	</div>
	
<% end %>